#java, #python, #c, #diffOption, #userName {
  display: none;
  font-size: large;
}

.form-control {
  width: 40%;
  background-color:rgb(186, 234, 237) ; 
}
body {
  background-color: rgb(243, 186, 219);
}
h1 {
  color:rgb(236, 54, 166);
  text-align: center;
  font-size: 45px;
}
h2 {
  color:rgb(27, 154, 176);
  margin-bottom: 3%;
  text-align: center;
  font-family: italic;
  font-size: 35px;
}
h3 {
  color:rgb(60, 101, 233);
  margin-bottom: 3%;
  text-align: center;
  font-size: 35px;
}
h4 {
  color:rgb(10, 102, 118);
  margin-bottom: 3%;
  text-align: center;
  font-family: italic;
  font-size: 30px;
}
img {
 margin-top: 8%;
 width: 400px;
 float: right;
 border: 2px solid rgb(70, 104, 226);
 border-width: 10px;
 padding: 10px
}
p {
  font-size: 20px;
}
#summit {
  margin-left: 15%;
  margin-bottom: 10%;
}
#codeSuggest {
  border: 2px solid rgb(161, 48, 125);
  margin-left: 64%;
  margin-top: -50%;
  height:300px;
  width: 36%;
  border: solid #e02a9e 10px;
  padding: 25px;
  
}
#formOne {
  font-size: 20px ;
  font-weight: bold;
  accent-color: rgb(167, 58, 159);
  color:rgb(50, 66, 188)
}