#ruby, #python, #c, #trouble, #diffOption, #userName {
  display: none;
  font-size: large;
}
.form-control {
  width: 40%;
  background-color:rgb(186, 234, 237) ; 
}
body {
  background-color: rgb(243, 186, 219);
}
h1 {
  color:rgb(236, 54, 166);
  text-align: center;
  font-size: 45px;
}
h2 {
  color:rgb(27, 154, 176);
  margin-bottom: 3%;
  text-align: center;
  font-family: italic;
  font-size: 35px;
}
h3 {
  color:rgb(205, 57, 173);
  margin-bottom: 3%;
  text-align: centerleft;
  font-size: 35px;
}
img {
 margin-top: 11%;
 width: 400px;
 float: right;
}
p {
  font-size: 20px;
}
#summit {
  margin-left: 15%;
  margin-bottom: 10%;
}
#codeSuggest {
  border: 20px;
  margin-left: 65%;
  margin-top: -40%;
}
#formOne {
  font-size: 20px ;
  font-weight: bold;
  accent-color: rgb(167, 58, 159);
  color:rgb(50, 66, 188)
}